<div class="page-button">
  <h1 class="page-title"></h1>
  <div class="page-button-group">
    <button class="lmui-button lmui-button-default lmui-button-large" id="toastTop">
      <label class="lmui-button-text">顶部提示</label>
    </button>
    <button class="lmui-button lmui-button-default lmui-button-large" id="toastCenter">
      <label class="lmui-button-text">居中提示</label>
    </button>
    <button class="lmui-button lmui-button-default lmui-button-large" id="toastBottom">
      <label class="lmui-button-text">底部提示</label>
    </button>
  </div>
</div>
